In [6]:
import pandas as pd
import numpy as np
import json

In [7]:
offering_df_dic = dict()
for colum_l in ['hotel_class', 'region_id', 'url', 'phone', 'details', 'address', 'type', 'id', 'name']:
    offering_df_dic[colum_l] = []

f = open("offering.txt", "r")
for line in f.readlines():
    temp_dic = json.loads(line)
    for i in ['hotel_class', 'region_id', 'url', 'phone', 'details', 'address', 'type', 'id', 'name']:
        if 'hotel_class' not in list(temp_dic.keys()) and i == 'hotel_class':
            value = np.nan
        else:
            value = temp_dic[i]
        offering_df_dic[i].append(value)
f.close()

In [8]:
offering_df = pd.DataFrame.from_dict(offering_df_dic)

In [9]:
for i in range(len(offering_df)):
    temp_dic = dict(offering_df.iloc[i]['address'])
    for key in ['region', 'street-address', 'postal-code', 'locality']:
        try:
            offering_df.loc[i,key] = temp_dic[key]
        except KeyError:
            offering_df.loc[i,key] = np.nan

In [10]:
f = open("review.txt", "r")
count = 0
for line in f.readlines():
    temp_dic = json.loads(line)
    temp_dic = temp_dic['ratings']
    count +=1

In [11]:
count

878561

In [12]:
rating_dict = {}
for i in ['service', 'cleanliness', 'overall', 'value', 'location', 'sleep_quality', 'rooms']:
    rating_dict[i] = []

In [13]:
f = open("review.txt", "r")
for line in f.readlines():
    temp_dic = json.loads(line)
    temp_dic = temp_dic['ratings']
    for rating_key in ['service', 'cleanliness', 'overall', 'value', 'location', 'sleep_quality', 'rooms']:
        try:
            value = temp_dic[rating_key]
            rating_dict[rating_key].append(value)
        except KeyError:
            rating_dict[rating_key].append(np.nan)
f.close()

In [14]:
author_dict = {}
for i in ['username', 'num_cities', 'num_helpful_votes', 'num_reviews', 'num_type_reviews', 'id']:
    author_dict[i] = []

In [15]:
f = open("review.txt", "r")
for line in f.readlines():
    temp_dic = json.loads(line)
    temp_dic = temp_dic['author']
    for author_key in ['username', 'num_cities', 'num_helpful_votes',
                       'num_reviews', 'num_type_reviews', 'id']:
        try:
            value = temp_dic[author_key]
            author_dict[author_key].append(value)
        except KeyError:
            author_dict[author_key].append(np.nan)
f.close()

In [16]:
review_dict = {}
for i in ['title', 'text', 'date_stayed', 'offering_id',
          'num_helpful_votes', 'date', 'id', 'via_mobile']:
    review_dict[i] = []

In [17]:
f = open("review.txt", "r")
for line in f.readlines():
    temp_dic = json.loads(line)
    for review_key in ['title', 'text', 'date_stayed', 'offering_id',
          'num_helpful_votes', 'date', 'id', 'via_mobile']:
        try:
            value = temp_dic[review_key]
            review_dict[review_key].append(value)
        except KeyError:
            review_dict[review_key].append(np.nan)
f.close()

In [18]:
for i in list(review_dict.keys()):
    print(i,len(review_dict[i]))

title 878561
text 878561
date_stayed 878561
offering_id 878561
num_helpful_votes 878561
date 878561
id 878561
via_mobile 878561

In [19]:
# change the name of dictionary 
author_dict['author_num_helpful_votes'] = author_dict.pop('num_helpful_votes')
author_dict['author_id'] = author_dict.pop('id')

In [20]:
# merge the three dictionaries
def Merge(dict1, dict2):
    return(dict2.update(dict1))

In [21]:
Merge(author_dict, review_dict)

In [22]:
Merge(rating_dict, review_dict)

In [23]:
review_df = pd.DataFrame.from_dict(review_dict)

In [24]:
df = review_df.merge(offering_df,left_on='offering_id', right_on='id')

Note: used `offering_id` and `id` in offering to merge the two. There is another `id` in review_df, see below:

In [25]:
df[['offering_id','id_x','id_y']]

        offering_id       id_x   id_y
0             93338  147643103  93338
1             93338  147639004  93338
2             93338  147634248  93338
3             93338  147625002  93338
4             93338  147623184  93338
...             ...        ...    ...
878556        84117   19646666  84117
878557        84117   19646665  84117
878558        84117   51443903  84117
878559        84117   53345783  84117
878560        84117  136657255  84117

[878561 rows x 3 columns]

In [26]:
df.head()

,title,text,date_stayed,offering_id,num_helpful_votes,date,id_x,via_mobile,username,num_cities,...,phone,details,address,type,id_y,name,region,street-address,postal-code,locality
0,"“Truly is ""Jewel of the Upper Wets Side""”",Stayed in a king suite for 11 nights and yes i...,December 2012,93338,0,"December 17, 2012",147643103,False,Papa_Panda,22.0,...,,None,"{'region': 'NY', 'street-address': '2130 Broad...",hotel,93338,Hotel Beacon,NY,2130 Broadway at 75th Street,10023,New York City
1,“My home away from home!”,"On every visit to NYC, the Hotel Beacon is the...",December 2012,93338,0,"December 17, 2012",147639004,False,Maureen V,2.0,...,,None,"{'region': 'NY', 'street-address': '2130 Broad...",hotel,93338,Hotel Beacon,NY,2130 Broadway at 75th Street,10023,New York City
2,“Excellent location”,Loved the hotel. Great location - only 2 block...,December 2012,93338,0,"December 17, 2012",147634248,False,Erica1103,2.0,...,,None,"{'region': 'NY', 'street-address': '2130 Broad...",hotel,93338,Hotel Beacon,NY,2130 Broadway at 75th Street,10023,New York City
3,“All-round fantastic NYC hotel”,Our first stay on the upper west side and can'...,December 2012,93338,0,"December 17, 2012",147625002,False,rmfindc,2.0,...,,None,"{'region': 'NY', 'street-address': '2130 Broad...",hotel,93338,Hotel Beacon,NY,2130 Broadway at 75th Street,10023,New York City
4,“Great hotel in nice area”,"Great room, very big with huge bed! Great loca...",December 2012,93338,0,"December 17, 2012",147623184,False,MiloandMaya,2.0,...,,None,"{'region': 'NY', 'street-address': '2130 Broad...",hotel,93338,Hotel Beacon,NY,2130 Broadway at 75th Street,10023,New York City

In [27]:
from nltk.corpus import wordnet

In [49]:
from googletrans import Translator
translator = Translator()
from deep_translator import (GoogleTranslator,
                             PonsTranslator,
                             LingueeTranslator,
                             MyMemoryTranslator,
                             YandexTranslator,
                             DeepL,
                             QCRI,
                             single_detection,
                             batch_detection)

In [29]:
df.text

0         Stayed in a king suite for 11 nights and yes i...
1         On every visit to NYC, the Hotel Beacon is the...
2         Loved the hotel. Great location - only 2 block...
3         Our first stay on the upper west side and can'...
4         Great room, very big with huge bed! Great loca...
                                ...
878556    ottima posizione, vicino alla casa bianca e co...
878557    credo che questo albergo riassuma più che posi...
878558    The Hay Adams Across from the White House er e...
878559    Unik beliggenhed overfor Det Hvide Hus. Overst...
878560    De plek is natuurlijk helemaal oké: recht tege...
Name: text, Length: 878561, dtype: object

In [30]:
from textblob import TextBlob

In [29]:
pip install langdetect

Collecting langdetect
  Downloading langdetect-1.0.8.tar.gz (981 kB)
     |████████████████████████████████| 981 kB 2.1 MB/s eta 0:00:01
Requirement already satisfied: six in /opt/anaconda3/lib/python3.7/site-packages (from langdetect) (1.12.0)
Building wheels for collected packages: langdetect
  Building wheel for langdetect (setup.py) ... done
  Created wheel for langdetect: filename=langdetect-1.0.8-py3-none-any.whl size=993190 sha256=1fca81348e7a209b9f1d0ab137f31e0bd1a1e5c966b8ffbe4ff5711de3071891
  Stored in directory: /Users/smitabhat/Library/Caches/pip/wheels/59/f6/9d/85068904dba861c0b9af74e286265a08da438748ee5ae56067
Successfully built langdetect
Installing collected packages: langdetect
Successfully installed langdetect-1.0.8
Note: you may need to restart the kernel to use updated packages.

In [31]:
import langdetect

In [35]:
df1['Language'] = df1['text'].apply(lambda x: langdetect.detect(x))

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [33]:
df.isnull().sum()

title                            0
text                             0
date_stayed                  67588
offering_id                      0
num_helpful_votes                0
date                             0
id_x                             0
via_mobile                       0
username                         0
num_cities                  264593
num_reviews                  77123
num_type_reviews            362951
author_num_helpful_votes    224581
author_id                        0
service                     117643
cleanliness                 118726
overall                          0
value                       124866
location                    213657
sleep_quality               377658
rooms                       173157
hotel_class                  34937
region_id                        0
url                              0
phone                            0
details                     878561
address                          0
type                             0
id_y                             0
name                             0
region                           0
street-address                   9
postal-code                   1859
locality                         0
dtype: int64

In [34]:
from langdetect import detect

In [35]:
texl70 = df['text']
langdet = []                                                    

for i in range(len(df)):
    try:
        
        lang=detect(texl70[i])                                      
    except:                                                       
        lang='no'                                                  
        print("This row throws error:", texl70[i])                 
    langdet.append(lang)

This row throws error: .........................................................................
This row throws error: 9/10

In [36]:
df['language'] = langdet

In [37]:
df_conversion = df[['text','language']]

In [38]:
df_conversion.head()

                                                text language
0  Stayed in a king suite for 11 nights and yes i...       en
1  On every visit to NYC, the Hotel Beacon is the...       en
2  Loved the hotel. Great location - only 2 block...       en
3  Our first stay on the upper west side and can'...       en
4  Great room, very big with huge bed! Great loca...       en

In [39]:
df_conversion.language.unique()

array(['en', 'de', 'fr', 'es', 'sv', 'it', 'nl', 'da', 'pt', 'ja', 'no',
       'ru', 'tr', 'th', 'zh-cn', 'ko', 'zh-tw', 'pl', 'sq', 'el', 'af',
       'tl', 'ro', 'ca', 'ar', 'vi', 'so', 'sl', 'fi', 'id', 'hu'],
      dtype=object)

In [40]:
df_not_english = df_conversion[df_conversion['language'] != 'en']

In [41]:
df_not_english.shape

(107492, 2)

In [42]:
df_not_english.language.unique()

array(['de', 'fr', 'es', 'sv', 'it', 'nl', 'da', 'pt', 'ja', 'no', 'ru',
       'tr', 'th', 'zh-cn', 'ko', 'zh-tw', 'pl', 'sq', 'el', 'af', 'tl',
       'ro', 'ca', 'ar', 'vi', 'so', 'sl', 'fi', 'id', 'hu'], dtype=object)

In [45]:
df_1 = df_not_english[df_not_english['language']== 'de']

In [46]:
df_1

                                                     text language
1191    Das Beacon ist ein angenehmes, sauberes Hotel ...       de
1199    Schönes, sauberes Hotel an der Upper West Side...       de
1223    Große und helle Zimmer, bei denen sich Eltern ...       de
1230    Ich habe extra meine Reisedaten für NY geänder...       de
1234    Super Preis-/leistungsverhältnis, große Zimmer...       de
...                                                   ...      ...
878542  Die gute Lage des Hotels war ausschlaggebend f...       de
878545  Das Hay Adams liegt direkt gegenueber vom Weis...       de
878547  Das Hotel liegt direkt gegenüber dem Weißen Ha...       de
878548  das hotel liegt direkt gegenüber dem weissen h...       de
878551  Ich war in vielen alten Leadinghotels,Hay Adam...       de

[27055 rows x 2 columns]

In [50]:
lang_list =['fr','es', 'sv', 'it', 'nl', 'da', 'pt', 'ja', 'no', 'ru',
       'tr','ko', 'zh-tw', 'sq', 'el', 'af', 'tl',
       'ca', 'ar', 'vi','hu']
final_df=pd.DataFrame()
for i in lang_list:
    df_1 = df_not_english[df_not_english['language']==i]
    df_1 = df_1[:10]
    print(df_1)
    df_1['English'] = df_1['text'].apply(translator.translate, src='auto', dest='en').apply(getattr, args=('text',))
    print(i)
    final_df = final_df.append(df_1)

                                                   text language
1192  Très bon séjour au BEACON, à proximité de Cent...       fr
1194  De retour de New York . Effectivement, l'hôtel...       fr
1198  Nous avons séjourné une semaine. il nous à été...       fr
1203  Situé dans le "Upper West Side", à deux pas du...       fr
1204  Je recommande fortement cet hotel ou nous avon...       fr
1209  Nous avons passé 8 jours dans cet hôtel aux ch...       fr
1211  Appart hôtel ,idéal pour la famille ,situé a 1...       fr
1217  C'est un hôtel génial à choisir absolument . N...       fr
1218  Comme écrit dans les autres commentaires, il s...       fr
1219  Idéal pour les familles : On économise grace à...       fr
fr
                                                   text language
1193  Elegimos el hotel por recomendacion de la agen...       es
1205  Hemos estado en octubre 4 personas en una habi...       es
1207  Alquilamos un departamento de dos habitaciones...       es
1244  Durante doce dias de Febrero, y de vacaciones ...       es
1255  hotel ubicado cerca de comercios y supermercad...       es
1264  Cuando uno elige visitar Nueva York debe elegi...       es
1268  Un hotel en donde la esencia de los antiguos d...       es
1271  Limpio, bonito, cerca de la parada del metro, ...       es
1285  El hotel esta muy bien ubicado a dos calles de...       es
1295  El mejor hotel y una de las mejores ciudades d...       es
es
                                                   text language
1195  Jättefint hotell. Har inget att klaga på än at...       sv
1201  Min man och jag bodde fem nätter på detta unde...       sv
1246  Vi var i New York i 5 dagar och bodde på Hotel...       sv
1959  En fantastisk hotellupplevelse på alla sätt oc...       sv
1971  Jag och frugan var i New York i slutet av maj ...       sv
1973  Läget låg bra, bra service, fresha rum. Kan va...       sv
2004  Höstlov med "family four" i New York. Hotellet...       sv
2444  Nybyggt hotell så det är frächt och snyggt. Vi...       sv
2483  Fantastiskt hotell. Helt otrolig service, bra ...       sv
2879  Hotellet var toppen! Nytt och fräscht. Det end...       sv
sv
                                                   text language
1196  Siamo stati durante il fine estate in questo a...       it
1206  Sono stata in questo albergo dal 2 al 7 ottobr...       it
1208  Le indicazioni positive trovate su Tripadvisor...       it
1210  ottimo hotel in cui soggiornare... eravamo in ...       it
1213  Hotel in posizione ottima, soprattutto per fam...       it
1222  Bellissimo hotel a Broadway, posizione central...       it
1228  Ho alloggiato al Beacon 5 gg durante il mio vi...       it
1233  All'inizio non eravamo del tutto convinti vist...       it
1237  Siamo stati a New York per 10 giorni nel lugli...       it
1238  Abbiamo scelto quest'hotel soprattutto per la ...       it
it
                                                   text language
1197  Groot hotel boven de Beacon Theatre concertzaa...       nl
1200  Een geweldige plaats om te verblijven. Een moo...       nl
1212  Het hotel ligt vlak bij het metrostation 72 St...       nl
1214  Ney terug van een weekje New York in het Beaco...       nl
1215  Net trg uit New York @beacon hotel naast beaco...       nl
1216  Een mooi en goed hotel. Locatie is wat minder ...       nl
1220  Prima hotel, ligging is perfect. Door de kitch...       nl
1227  Heerlijk ruime Royal hotelkamer met aparte sla...       nl
1240  mijn dochter en ik zijn net terug uit New York...       nl
1253  Superior dubbelkamer aanrader. Elke dag lekker...       nl
nl
                                                    text language
1202   Lidt dyrt, men skøn beliggenhed. Tæt på Centra...       da
1279   Det har en fortræffelig beliggenhed på Broadva...       da
2007   Beliggenheden er central, f.eks. lige over for...       da
4982   Luksuriøst mindre boutique hotel med god belig...       da
5013   Vi har været glade for vores ophold på Iroquoi...       da
5030   Dette hotellet er en liten perle, midt i teate...       da
5047   Jeg har før været i New York og været skuffet ...       da
9012   Beliggenhed og service er i top på dette hotel...       da
11710  Skraldespanden ikke tømt\nFangede den største ...       da
14495  Dejligt hotel med søde mennesker i receptionen...       da
da
                                                   text language
1232  É um apart longe das áreas mais barulhentas de...       pt
1236  Com supermercado em frente, metro a duas quadr...       pt
1249  Apart hotel bem localizado, muito confortável,...       pt
1299  O hotel é muito bom, bem localizado distando a...       pt
2017  Uma incrivel estada no coração de NYC.Gente le...       pt
2029  Fiquei 11 dias nesse hotel e recomendo a todos...       pt
2054  Simplesmente perfeito! Amei o hotel! Além de b...       pt
2062  Sinceramente, em Nova York, prefiro e sempre i...       pt
2849  Estive hospedada no The Chatwal Hotel em agost...       pt
2858  Estivemos em NYC em abril/2012 e tivemos a fel...       pt
pt
                                                   text language
1250  ニューヨークでようやく巡り合えたバランスのよいホテルです。ここ5年くらい毎年NYに行っていま...       ja
1256  私（母親）、１５歳と５歳の息子３人で初めてのニューヨーク。いろいろ調べたけどここにして良かっ...       ja
1258  アッパーウエストの雰囲気やスーパーが好きなのでリピしています。\nリノベーションして高くなっ...       ja
1260  向かい側には、朝6時から夜中迄開いているスーパー『fairway 』と、お惣菜が美味しい高級...       ja
1272  一人旅で利用しました。やや宿泊料金は高いです。場所の治安が良い点、部屋が清潔な点、あとは一人...       ja
1288  滞在中自炊をしたくて。キッチン付きであるこちらのホテルを選びました。\n場所はブロードウェイ...       ja
1298  グルメスーパーに徒歩圏内のキッチン付きホテルという条件で、ウーゴーと悩みましたが、投稿写真で...       ja
1301  小さい子供同伴だったので、キッチン付きの部屋と思い、予約。\n結論的には、ホテルの値段がその...       ja
1303  部屋は狭いものの、綺麗に保たれております。\nテレビは液晶で、iPod用のスピーカもありまし...       ja
1305  地下鉄1,2,3線のどれも通る駅から近く、PENN STATIONから往復だったので便利でし...       ja
ja
                                                   text language
1254  Likte meg meget godt på Hotellet, bra rom, rol...       no
1345  Vi var 2 venner som reiste hit i romjula 2010 ...       no
1962  Vi var 5 netter i NYC med to barn, og var veld...       no
2012  Vi kan anbefale dette hotellet på det varmeste...       no
2863  Fantastisk hotell, midt på Manhatten. Ca 100 m...       no
2876  Super beliggenhet rett ved Times Square. God s...       no
3885  Vi ble tatt imot med et vennlig smil da vi ank...       no
3913  Et deilig hotell, hvor mørk (men moderne) innr...       no
3956  Fire overnattinger med 3 ungdoms-/voksne barn....       no
4970  Flott beliggenhet nært til Times Square, 5th A...       no
no
                                                    text language
1992   ХОРОШ!\nХороший отель в хорошем районе, на 5-й...       ru
2474   Была идея найти отель с террасой на Манхэттене...       ru
4945   Чисто - да. Место центровое - да. На этом все ...       ru
7670   Мы посетили Omni Houston Hotel летом 2012 года...       ru
11023  Отель превзошел все наши ожидания. Очень чиста...       ru
11255  Отель удобно расположен.Рядом остановка автобу...       ru
13127  Отель очень приличный. Номера убирают хорошо, ...       ru
19464  Останавливался на несколько дней. Отличное рас...       ru
23261  я останавливался в этой гостинице в октябре эт...       ru
31279  Очень удобное расположение отеля – Times Squar...       ru
ru
                                                    text language
3894   İs gezisinde kaldım, cok iyi bir otel. Lokasyo...       tr
31239  Konum olarak cok iyi bir secim yapmisiz.Temiz ...       tr
32338  Newyork a yaptigim uc uzun seyahatimdede bu ot...       tr
45182  New York'ta kalacak yer bakanlar bu oteli düşü...       tr
51939  bu otel anılarımda hem güzel, hem de feci olar...       tr
61271  Her yere ozelliklede metroya yakinligi temiz v...       tr
63422  İki blok otede metro istasyonu mevcut. O neden...       tr
63431  Yeri çok güzel her yere yakın otel temiz kesin...       tr
65132  Manhattan'ın orta yerinde, birçok yere yürüme ...       tr
66676  Konumu çok iyi , midtown da. temizlik ve güven...       tr
tr
                                                     text language
23073   用PCR积分20000分可以换一天 直接定的话貌似要300多美金\n房间带有简单的厨房 很干...       ko
33763   출장으로 묵었는데 corporate rate로 뉴욕호텔로는 저렴하게 묵었습니다.\n...       ko
76518   除了飯店價格便宜外, 坐落位置也很好, 就在中央公園旁邊, 到大都會博物館及古根漢博物館也非...       ko
83066   세계 곳곳을 돌아다니면서 가격대비 최악의 호텔이였습니다\nThis hotel was...       ko
86437   我所住的房間在四樓,乾淨整齊。但我的朋友分到七樓的房間, 骯髒細小，洗手盤還佈滿漬。水管關...       ko
140029  힐튼이라는 이름답게 좋은 서비스와 음식 객실또한 편안하고 좋았습니다. 직원들은 항상...       ko
146108  基本上都很好!如果可以改進燈光和廁所的問題就太棒了!\n還有,客服部的處理問題希望可以積極一...       ko
227529  브로드웨이 중심에 위치하고 있어서 교통편이나 전망이 탁월합니다.\n그 외의 것들은 ...       ko
255503  힐튼가든인 35st 에는 호텔에 남들이 다있는 도어맨이 없습니다\n고객의 편의를 많...       ko
286012  Magnificient Mile 에 있어 Chicago 어느 곳이나 가기에 교통도 ...       ko
ko
                                                     text language
34405   這是我第一次上網去訂酒店。可以找到這間酒店實在是幸運。酒店的職員服務及態度良好，特別自己在b...    zh-tw
67078   heater太大聲，剛好我們的房間又在靠路邊，晚上到深夜街上喝完酒的人路過講話很大聲，所以有...    zh-tw
339307  第一次入住 Comfort inn passadena。一到停車廠覺得很整齊舒服的感覺。到了...    zh-tw
347152  這家旅店像國內的招待所。在LA的市中心，距離最近的地鐵站只要5分鐘步行時長。房間整潔乾淨。衛...    zh-tw
364148  這回住在Westin是因為馬航班機延誤的關係，由馬航買單的。\n我要分享的倒不是現場的服務，...    zh-tw
558064  不錯的服務，\n不能夠說無微不至但是服務人員態度讓人滿意，\n同一個街區就有餐廳，\n不怕會...    zh-tw
585310  Motel, 有車位。有一個很大的泳池。\n兩層樓，房間不多。Counter提供免費的果汁和...    zh-tw
606557  請您在訂這家旅館以前，先聽聽我以下遭遇：\n我在2012年一月31日到二月3日入住Villa...    zh-tw
739898  相較其他飯店位置，silvercloud比較在郊區，就在水手巨蛋旁邊。\n如果是喜歡看棒球的...    zh-tw
754941  房間很舒適 最棒的是含自助早餐 及24小時的飲料提供 早餐雖然菜色不是很多樣 但該有的都有 ...    zh-tw
zh-tw
             text language
42036  i like it!       sq
sq
                                                     text language
55185   Στην αρχή είχαμε δωμάτιο στον τρίτο όροφο (ουσ...       el
68829   εξαιρετική θέση,άνετοι χώροι καλό σέρβις !!\nΧ...       el
74068   Τ ξενοδοχειο ειναι σε πολυ καλο σημειο στην Ma...       el
74265   Βολικότατη τοποθεσία, καθαρό, ανεπαρκής απόδοσ...       el
74282   Η τοποθεσία είναι ιδανική για να δεις ολο το Μ...       el
74459   Φοβερό το σημείο που βρίσκεται το ξενοδοχείο, ...       el
93863   Η τοποθεσία του ξενοδοχείου εξαιρετική!!!! Κον...       el
106959  μια απογοητευση.μειναμε σε 2κλινο.χρειαστηκαμε...       el
163116  Το 4 points by Sheraton Midtown - Times Square...       el
183505  πολυ καλο σερβις στο ξενοδοχειο αλλα και στο τ...       el
el
                                                     text language
80093   Dirty towels\nDirty walls\nDirty rugs\nDirty b...       af
134617  Vies roestig bad (kmr 808) vies matje in bad g...       af
183541  Goed hotel, midden in NY, op loopafstand van T...       af
362787  veel lawaai van gasten( veel komende en vertre...       af
372302  Big hotel very close to LAX. Large room and go...       af
418707  Horrible stay... slamming doors disturbed my s...       af
436851  Big bucks but it does make you feel like a roc...       af
461007  wonderful view from our bedroom sunsets were a...       af
486898  Nice! I like it a lot. Staff is awesome! Ggggg...       af
493666  pool was dirty, door on 2 nd. floor would not ...       af
af
                                                     text language
141960  room too small, no parking and no standing for...       tl
tl
                                                     text language
189930                                   Excellent lodge.       ca
267500  Un hotel encantador, el personal molt amable, ...       ca
311038  Elegant! A nd so close to many graet restauran...       ca
349346  MUY BUEN HOTEL SI DESEAS IR AL CENTRO DE LOS Á...       ca
370634                    Beautiful hotel, delicious food       ca
572139  出差到San Francisco，开始住intercontinental,后来转到这家wes...       ca
672498      Excellant, comfortable stay. Got a good deal.       ca
716233  Excellent hotel, excellent rooms, excellent st...       ca
722566  Excellent rooms, excellent staff, excellent ho...       ca
746409  Perfect location. Great restaurants adjacent. ...       ca
ca
                                                     text language
219990  موقع الفندق الافضل بنيو يورك مانهاتن \nولكن ال...       ar
ar
                                                     text language
253096  第二次来纽约，还是选择了这家精品酒店。房间还不错，只是这次给了低楼房间，有LCD电视，走大概...       vi
299044  去chicago住过两次，交通很方便，可以从地铁口直接进building走到酒店，大概要走五...       vi
671345  虽然是Express, 但由于是 Holiday Inn 管理, 所以也不会令人失望.\n酒...       vi
725003  还不错的房间。在Holiday入住所以稍微贵一点，价格是美金200，双人房。\n就在down...       vi
vi
                                                     text language
519618  Ebben a szállodában május végén voltunk, a szo...       hu
hu

In [51]:
final_df

,text,language,English
1192,"Très bon séjour au BEACON, à proximité de Cent...",fr,"Very good experience at BEACON, near Central P..."
1194,"De retour de New York . Effectivement, l'hôtel...",fr,"New York return. Indeed, the hotel is very com..."
1198,Nous avons séjourné une semaine. il nous à été...,fr,We stayed one week. it was recommended to us b...
1203,"Situé dans le ""Upper West Side"", à deux pas du...",fr,"Located in the ""Upper West Side"", close to the..."
1204,Je recommande fortement cet hotel ou nous avon...,fr,I highly recommend this hotel where we stayed ...
...,...,...,...
253096,第二次来纽约，还是选择了这家精品酒店。房间还不错，只是这次给了低楼房间，有LCD电视，走大概...,vi,"The second in New York, chose this boutique ho..."
299044,去chicago住过两次，交通很方便，可以从地铁口直接进building走到酒店，大概要走五...,vi,"Go to chicago stayed twice, transportation is ..."
671345,"虽然是Express, 但由于是 Holiday Inn 管理, 所以也不会令人失望.\n酒...",vi,"Although the Express, but the management is Ho..."
725003,还不错的房间。在Holiday入住所以稍微贵一点，价格是美金200，双人房。\n就在down...,vi,Pretty good room. Holiday stay in it a little ...
519618,"Ebben a szállodában május végén voltunk, a szo...",hu,"In late May, we were in the hotel, the rooms a..."

In [52]:
df_converted = final_df['English']

In [53]:
df_converted

1192      Very good experience at BEACON, near Central P...
1194      New York return. Indeed, the hotel is very com...
1198      We stayed one week. it was recommended to us b...
1203      Located in the "Upper West Side", close to the...
1204      I highly recommend this hotel where we stayed ...
                                ...
253096    The second in New York, chose this boutique ho...
299044    Go to chicago stayed twice, transportation is ...
671345    Although the Express, but the management is Ho...
725003    Pretty good room. Holiday stay in it a little ...
519618    In late May, we were in the hotel, the rooms a...
Name: English, Length: 168, dtype: object

In [54]:
df = review_df.merge(offering_df,left_on='offering_id', right_on='id')

In [55]:
df = pd.concat([df, df_converted], axis=1)

In [56]:
df.head()

,title,text,date_stayed,offering_id,num_helpful_votes,date,id_x,via_mobile,username,num_cities,...,details,address,type,id_y,name,region,street-address,postal-code,locality,English
0,"“Truly is ""Jewel of the Upper Wets Side""”",Stayed in a king suite for 11 nights and yes i...,December 2012,93338,0,"December 17, 2012",147643103,False,Papa_Panda,22.0,...,None,"{'region': 'NY', 'street-address': '2130 Broad...",hotel,93338,Hotel Beacon,NY,2130 Broadway at 75th Street,10023,New York City,NaN
1,“My home away from home!”,"On every visit to NYC, the Hotel Beacon is the...",December 2012,93338,0,"December 17, 2012",147639004,False,Maureen V,2.0,...,None,"{'region': 'NY', 'street-address': '2130 Broad...",hotel,93338,Hotel Beacon,NY,2130 Broadway at 75th Street,10023,New York City,NaN
2,“Excellent location”,Loved the hotel. Great location - only 2 block...,December 2012,93338,0,"December 17, 2012",147634248,False,Erica1103,2.0,...,None,"{'region': 'NY', 'street-address': '2130 Broad...",hotel,93338,Hotel Beacon,NY,2130 Broadway at 75th Street,10023,New York City,NaN
3,“All-round fantastic NYC hotel”,Our first stay on the upper west side and can'...,December 2012,93338,0,"December 17, 2012",147625002,False,rmfindc,2.0,...,None,"{'region': 'NY', 'street-address': '2130 Broad...",hotel,93338,Hotel Beacon,NY,2130 Broadway at 75th Street,10023,New York City,NaN
4,“Great hotel in nice area”,"Great room, very big with huge bed! Great loca...",December 2012,93338,0,"December 17, 2012",147623184,False,MiloandMaya,2.0,...,None,"{'region': 'NY', 'street-address': '2130 Broad...",hotel,93338,Hotel Beacon,NY,2130 Broadway at 75th Street,10023,New York City,NaN

In [57]:
df.shape

(878561, 35)

In [59]:

df.loc[df['English'].notnull(),'text']= df['English']

In [60]:
df_2 = df[df['English'].notnull()]

In [62]:
df['language'] = df_conversion['language']

In [63]:
df_eng = df[df['language'] =='en']

In [64]:
df_final = pd.concat([df_eng,df_2],axis=0)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [90]:
df_final.shape

(771237, 34)

In [66]:
del df_final['language']

In [67]:
del df_final['English']

In [70]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 771237 entries, 0 to 754941
Data columns (total 34 columns):
address                     771237 non-null object
author_id                   771237 non-null object
author_num_helpful_votes    603797 non-null float64
cleanliness                 691691 non-null float64
date                        771237 non-null object
date_stayed                 739948 non-null object
details                     0 non-null object
hotel_class                 740198 non-null float64
id_x                        771237 non-null int64
id_y                        771237 non-null int64
locality                    771237 non-null object
location                    607660 non-null float64
name                        771237 non-null object
num_cities                  559325 non-null float64
num_helpful_votes           771237 non-null int64
num_reviews                 736307 non-null float64
num_type_reviews            468293 non-null float64
offering_id                 771237 non-null int64
overall                     771237 non-null float64
phone                       771237 non-null object
postal-code                 769549 non-null object
region                      771237 non-null object
region_id                   771237 non-null int64
rooms                       640461 non-null float64
service                     691661 non-null float64
sleep_quality               453499 non-null float64
street-address              771237 non-null object
text                        771237 non-null object
title                       771237 non-null object
type                        771237 non-null object
url                         771237 non-null object
username                    771237 non-null object
value                       692059 non-null float64
via_mobile                  771237 non-null bool
dtypes: bool(1), float64(12), int64(5), object(16)
memory usage: 200.8+ MB

In [72]:
df_final.to_csv('converted_text.csv')

In [71]:
df.columns

Index(['title', 'text', 'date_stayed', 'offering_id', 'num_helpful_votes',
       'date', 'id_x', 'via_mobile', 'username', 'num_cities', 'num_reviews',
       'num_type_reviews', 'author_num_helpful_votes', 'author_id', 'service',
       'cleanliness', 'overall', 'value', 'location', 'sleep_quality', 'rooms',
       'hotel_class', 'region_id', 'url', 'phone', 'details', 'address',
       'type', 'id_y', 'name', 'region', 'street-address', 'postal-code',
       'locality', 'English', 'language'],
      dtype='object')