In [1]:
import pandas as pd
import numpy as np

# Read in final_df

In [3]:
df = pd.read_csv('final_df.csv')
df = df.drop(['Unnamed: 0','type.1'],axis=1)

/Users/siyuan/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (27) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
df_temp = df.copy()

# Creat new sentiment variable: polarity

In [5]:
from textblob import TextBlob

In [6]:
def sentiment_cal(text):
    try:
        return TextBlob(text).sentiment
    except:
        return None

In [7]:
df_temp['sentiment'] = df_temp['text'].apply(sentiment_cal)

In [18]:
df_temp.loc[0,'sentiment'][0]

0.2907142857142857

In [20]:
for i in range(len(df_temp)):
    df_temp.loc[i,'polarity'] = df_temp.loc[i,'sentiment'][0]

In [21]:
df_temp.polarity.fillna(0)

In [22]:
df['polarity'] = list(df_temp['polarity'])

# Feature Selection for Linear regression

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import RFECV
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score

In [24]:
features_list_start = ['num_cities', 'num_reviews', 'num_type_reviews','author_num_helpful_votes',
                       'service', 'cleanliness','overall', 'value', 'location', 'sleep_quality', 'rooms',
                       'polarity',
                       'number_of_visited_hotel','number_of_visited_city', 'average_service_rating',
                       'average_cleanliness_rating', 'average_overall_rating',
                       'average_value_rating', 'average_location_rating','average_sleep_quality_rating', 'average_rooms_rating',
       'min_service_rating', 'min_cleanliness_rating', 'min_overall_rating',
       'min_value_rating', 'min_location_rating', 'min_sleep_quality_rating',
       'min_rooms_rating', 'max_service_rating', 'max_cleanliness_rating',
       'max_overall_rating', 'max_value_rating', 'max_location_rating',
       'max_sleep_quality_rating', 'max_rooms_rating', 'avergae_hotel_class',
       'title_exclamation_count', 'title_questionmark_count',
       'review_exclamation_count', 'review_questionmark_count',
       'title_adv_count', 'total_number_hotel_reviews',
       'total_number_helpful_reviews_hotel_got',
       'average_service_rating_for_hotel',
       'average_cleanliness_rating_for_hotel',
       'average_overall_rating_for_hotel', 'average_value_rating_for_hotel',
       'average_location_rating_for_hotel',
       'average_sleep_quality_rating_for_hotel',
       'average_rooms_rating_for_hotel', 'min_service_rating_for_hotel',
       'min_cleanliness_rating_for_hotel', 'min_overall_rating_for_hotel',
       'min_value_rating_for_hotel', 'min_location_rating_for_hotel',
       'min_sleep_quality_rating_for_hotel', 'min_rooms_rating_for_hotel',
       'max_service_rating_for_hotel', 'max_cleanliness_rating_for_hotel',
       'max_overall_rating_for_hotel', 'max_value_rating_for_hotel',
       'max_location_rating_for_hotel', 'max_sleep_quality_rating_for_hotel',
       'max_rooms_rating_for_hotel', 'number_of_hotels_in_region',
       'number_of_hotels_in_class_1', 'number_of_hotels_in_class_1.5',
       'number_of_hotels_in_class_2', 'number_of_hotels_in_class_2.5',
       'number_of_hotels_in_class_3', 'number_of_hotels_in_class_3.5',
       'number_of_hotels_in_class_4', 'number_of_hotels_in_class_4.5',
       'number_of_hotels_in_class_5', 'title_adj_count']

In [26]:
df_feature_selection = df[features_list_start]

In [27]:
df.loc[df['num_helpful_votes'] ==0, 'votes'] = 1
df.loc[df['num_helpful_votes'] ==1, 'votes'] = 2
df.loc[(df['num_helpful_votes'] >=2) & (df['num_helpful_votes']<= 5), 'votes'] = 3
df.loc[(df['num_helpful_votes'] >=6) & (df['num_helpful_votes']<= 13), 'votes'] = 4
df.loc[(df['num_helpful_votes'] >=14) & (df['num_helpful_votes']<= 36), 'votes'] = 5
df.loc[df['num_helpful_votes'] >=37, 'votes'] = 6

In [30]:
df_feature_selection_X,df_temp_X,df_feature_selection_y,df_temp_y = train_test_split(df_feature_selection,
                                                                                    df['votes'],
                                                                                    test_size = 0.3)

In [100]:
df_feature_selection_y.value_counts()/sum(df_feature_selection_y)

1.0    0.301372
2.0    0.133607
3.0    0.106390
4.0    0.022947
5.0    0.003904
6.0    0.000156
Name: votes, dtype: float64

In [101]:
df.votes.value_counts()/sum(df.votes)

1.0    0.301590
2.0    0.133279
3.0    0.106376
4.0    0.023000
5.0    0.003950
6.0    0.000162
Name: votes, dtype: float64

In [ ]:
lr = LinearRegression()
rfecv = RFECV(estimator = lr, step = 1, scoring='r2')
X_train_rfe_lr = rfecv.fit_transform(df_feature_selection_X[selected_list],
                                     df_feature_selection_y)

final selected 30 vars:
 ['title_adj_count',
 'number_of_hotels_in_class_5',
 'number_of_hotels_in_class_4.5',
 'number_of_hotels_in_class_4',
 'number_of_hotels_in_class_3.5',
 'number_of_hotels_in_class_3',
 'number_of_hotels_in_class_2.5',
 'number_of_hotels_in_class_2',
 'number_of_hotels_in_class_1.5',
 'number_of_hotels_in_class_1',
 'number_of_hotels_in_region',
 'max_rooms_rating_for_hotel',
 'max_sleep_quality_rating_for_hotel',
 'max_location_rating_for_hotel',
 'max_value_rating_for_hotel',
 'max_overall_rating_for_hotel',
 'max_cleanliness_rating_for_hotel',
 'max_service_rating_for_hotel',
 'min_rooms_rating_for_hotel',
 'min_location_rating_for_hotel',
 'min_sleep_quality_rating_for_hotel',
 'min_value_rating_for_hotel',
 'min_overall_rating_for_hotel',
 'min_cleanliness_rating_for_hotel',
 'min_service_rating_for_hotel',
 'average_rooms_rating_for_hotel',
 'average_location_rating_for_hotel',
 'average_sleep_quality_rating_for_hotel',
 'average_value_rating_for_hotel',
 'average_overall_rating_for_hotel'

# Feature Selection for Multi-classification - Logistic regression

## Univariate selection

In [137]:
sel_variance_threshold = VarianceThreshold() 
X_train_remove_variance = sel_variance_threshold.fit_transform(df_feature_selection_X)
print(X_train_remove_variance.shape)

(518136, 75)

In [3]:
from sklearn.feature_selection import VarianceThreshold
from sklearn.feature_selection import RFE
from sklearn.feature_selection import SelectKBest,chi2

In [138]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

scaler_x = scaler.fit_transform(df_feature_selection_X)

In [139]:
scaler_x = pd.DataFrame(scaler_x,columns = list(df_feature_selection.columns))

In [141]:
sel_chi2 = SelectKBest(chi2, k=40)    # select 40 features
df_feature_selection_2 = sel_chi2.fit_transform(scaler_x, df_feature_selection_y)
print(sel_chi2.get_support())

[False False False  True  True  True  True  True False  True  True False
 False False  True  True  True  True False False  True  True  True  True
  True False  True  True  True False  True False False False False False
 False False False False False False  True False False False False False
 False False False False False False False False False False False False
 False False False False  True  True  True  True False  True  True  True
  True  True False]

In [142]:
len(sel_chi2.get_support())

75

In [143]:
selected_list = []
for i in range(75):
    if sel_chi2.get_support()[i] == True:
        selected_list.append(list(df_feature_selection.columns)[i])

In [145]:
scaler_x[selected_list]

,author_num_helpful_votes,service,cleanliness,overall,value,sleep_quality,rooms,average_service_rating,average_cleanliness_rating,average_overall_rating,...,total_number_helpful_reviews_hotel_got,number_of_hotels_in_region,number_of_hotels_in_class_1,number_of_hotels_in_class_1.5,number_of_hotels_in_class_2,number_of_hotels_in_class_3,number_of_hotels_in_class_3.5,number_of_hotels_in_class_4,number_of_hotels_in_class_4.5,number_of_hotels_in_class_5
0,0.005187,0.500000,0.750000,0.75,0.750000,0.500000,0.25000,0.750000,0.875000,0.875000,...,0.082880,0.286566,0.000000,0.059550,0.105473,0.255686,0.185152,0.325478,0.337814,0.321013
1,0.000000,0.798572,0.836892,0.75,0.764399,0.798262,0.74965,0.798572,0.836892,0.750000,...,0.047962,0.032999,0.027168,0.142338,0.074603,0.048678,0.024481,0.015177,0.012243,0.000000
2,0.072614,1.000000,1.000000,1.00,0.750000,0.950428,1.00000,0.900000,0.900000,0.850000,...,0.039130,0.204888,0.000000,0.000000,0.047970,0.253677,0.384540,0.120393,0.134190,0.267958
3,0.001037,1.000000,1.000000,1.00,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,...,0.217935,0.204888,0.000000,0.000000,0.047970,0.253677,0.384540,0.120393,0.134190,0.267958
4,0.124481,1.000000,1.000000,1.00,1.000000,0.750000,0.75000,0.964286,1.000000,0.892857,...,0.061549,1.000000,1.000000,1.000000,0.387037,0.993383,0.698137,1.000000,1.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
518131,0.003112,0.250000,0.750000,0.50,0.750000,0.750000,0.75000,0.250000,0.750000,0.500000,...,0.075815,0.086347,0.000000,0.045025,0.030618,0.127682,0.129936,0.064489,0.000000,0.116145
518132,0.004149,0.750000,0.750000,0.75,0.750000,1.000000,0.75000,0.749155,0.797003,0.730909,...,0.026766,1.000000,1.000000,1.000000,0.387037,0.993383,0.698137,1.000000,1.000000,1.000000
518133,0.000000,0.750000,0.000000,0.50,0.000000,0.000000,0.25000,0.750000,0.000000,0.500000,...,0.466033,1.000000,1.000000,1.000000,0.387037,0.993383,0.698137,1.000000,1.000000,1.000000
518134,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000136,0.408885,0.000000,0.302832,0.367516,0.469097,0.382996,0.292922,0.179139,0.108992
518135,0.000000,1.000000,0.750000,1.00,1.000000,0.950428,1.00000,1.000000,0.750000,1.000000,...,0.003125,1.000000,1.000000,1.000000,0.387037,0.993383,0.698137,1.000000,1.000000,1.000000

In [31]:
model_logistic = LogisticRegression(solver='lbfgs', multi_class='multinomial', max_iter=10000)
sel_rfe_logistic = RFE(estimator=model_logistic, n_features_to_select=30, step=1)
X_train_rfe_logistic = sel_rfe_logistic.fit_transform(scaler_x[selected_list], df_feature_selection_y)

the final 30 for this multi-classfication problem is:

top_30 = ['author_num_helpful_votes',
 'service',
 'cleanliness',
 'overall',
 'value',
 'sleep_quality',
 'rooms',
 'average_service_rating',
 'average_overall_rating',
 'average_value_rating',
 'average_sleep_quality_rating',
 'average_rooms_rating',
 'min_service_rating',
 'min_cleanliness_rating',
 'min_overall_rating',
 'min_value_rating',
 'min_sleep_quality_rating',
 'min_rooms_rating',
 'max_service_rating',
 'max_overall_rating',
 'total_number_helpful_reviews_hotel_got',
 'number_of_hotels_in_region',
 'number_of_hotels_in_class_1',
 'number_of_hotels_in_class_1.5',
 'number_of_hotels_in_class_2',
 'number_of_hotels_in_class_3',
 'number_of_hotels_in_class_3.5',
 'number_of_hotels_in_class_4',
 'number_of_hotels_in_class_4.5',
 'number_of_hotels_in_class_5']