In [1]:
import pandas as pd
import numpy as np
import json

# Loading the Data into Pandas DataFrame

In [2]:
offering_df_dic = dict()
for colum_l in ['hotel_class', 'region_id', 'url', 'phone', 'details', 'address', 'type', 'id', 'name']:
    offering_df_dic[colum_l] = []

f = open("offering.txt", "r")
for line in f.readlines():
    temp_dic = json.loads(line)
    for i in ['hotel_class', 'region_id', 'url', 'phone', 'details', 'address', 'type', 'id', 'name']:
        if 'hotel_class' not in list(temp_dic.keys()) and i == 'hotel_class':
            value = np.nan
        else:
            value = temp_dic[i]
        offering_df_dic[i].append(value)
f.close()

In [3]:
offering_df = pd.DataFrame.from_dict(offering_df_dic)

In [4]:
for i in range(len(offering_df)):
    temp_dic = dict(offering_df.iloc[i]['address'])
    for key in ['region', 'street-address', 'postal-code', 'locality']:
        try:
            offering_df.loc[i,key] = temp_dic[key]
        except KeyError:
            offering_df.loc[i,key] = np.nan

In [5]:
f = open("review.txt", "r")
count = 0
for line in f.readlines():
    temp_dic = json.loads(line)
    temp_dic = temp_dic['ratings']
    count +=1

In [6]:
count

878561

In [7]:
rating_dict = {}
for i in ['service', 'cleanliness', 'overall', 'value', 'location', 'sleep_quality', 'rooms']:
    rating_dict[i] = []

In [8]:
f = open("review.txt", "r")
for line in f.readlines():
    temp_dic = json.loads(line)
    temp_dic = temp_dic['ratings']
    for rating_key in ['service', 'cleanliness', 'overall', 'value', 'location', 'sleep_quality', 'rooms']:
        try:
            value = temp_dic[rating_key]
            rating_dict[rating_key].append(value)
        except KeyError:
            rating_dict[rating_key].append(np.nan)
f.close()

In [9]:
author_dict = {}
for i in ['username', 'num_cities', 'num_helpful_votes', 'num_reviews', 'num_type_reviews', 'id']:
    author_dict[i] = []

In [10]:
f = open("review.txt", "r")
for line in f.readlines():
    temp_dic = json.loads(line)
    temp_dic = temp_dic['author']
    for author_key in ['username', 'num_cities', 'num_helpful_votes',
                       'num_reviews', 'num_type_reviews', 'id']:
        try:
            value = temp_dic[author_key]
            author_dict[author_key].append(value)
        except KeyError:
            author_dict[author_key].append(np.nan)
f.close()

In [11]:
review_dict = {}
for i in ['title', 'text', 'date_stayed', 'offering_id',
          'num_helpful_votes', 'date', 'id', 'via_mobile']:
    review_dict[i] = []

In [12]:
f = open("review.txt", "r")
for line in f.readlines():
    temp_dic = json.loads(line)
    for review_key in ['title', 'text', 'date_stayed', 'offering_id',
          'num_helpful_votes', 'date', 'id', 'via_mobile']:
        try:
            value = temp_dic[review_key]
            review_dict[review_key].append(value)
        except KeyError:
            review_dict[review_key].append(np.nan)
f.close()

In [13]:
for i in list(review_dict.keys()):
    print(i,len(review_dict[i]))

title 878561
text 878561
date_stayed 878561
offering_id 878561
num_helpful_votes 878561
date 878561
id 878561
via_mobile 878561

In [14]:
# change the name of dictionary 
author_dict['author_num_helpful_votes'] = author_dict.pop('num_helpful_votes')
author_dict['author_id'] = author_dict.pop('id')

In [15]:
# merge the three dictionaries
def Merge(dict1, dict2):
    return(dict2.update(dict1))

In [16]:
Merge(author_dict, review_dict)

In [17]:
Merge(rating_dict, review_dict)

In [18]:
review_df = pd.DataFrame.from_dict(review_dict)

In [19]:
df = review_df.merge(offering_df,left_on='offering_id', right_on='id')

Note: used `offering_id` and `id` in offering to merge the two. There is another `id` in review_df, see below:

In [20]:
df.head(5)

,title,text,date_stayed,offering_id,num_helpful_votes,date,id_x,via_mobile,username,num_cities,...,phone,details,address,type,id_y,name,region,street-address,postal-code,locality
0,"“Truly is ""Jewel of the Upper Wets Side""”",Stayed in a king suite for 11 nights and yes i...,December 2012,93338,0,"December 17, 2012",147643103,False,Papa_Panda,22.0,...,,None,"{'region': 'NY', 'street-address': '2130 Broad...",hotel,93338,Hotel Beacon,NY,2130 Broadway at 75th Street,10023,New York City
1,“My home away from home!”,"On every visit to NYC, the Hotel Beacon is the...",December 2012,93338,0,"December 17, 2012",147639004,False,Maureen V,2.0,...,,None,"{'region': 'NY', 'street-address': '2130 Broad...",hotel,93338,Hotel Beacon,NY,2130 Broadway at 75th Street,10023,New York City
2,“Excellent location”,Loved the hotel. Great location - only 2 block...,December 2012,93338,0,"December 17, 2012",147634248,False,Erica1103,2.0,...,,None,"{'region': 'NY', 'street-address': '2130 Broad...",hotel,93338,Hotel Beacon,NY,2130 Broadway at 75th Street,10023,New York City
3,“All-round fantastic NYC hotel”,Our first stay on the upper west side and can'...,December 2012,93338,0,"December 17, 2012",147625002,False,rmfindc,2.0,...,,None,"{'region': 'NY', 'street-address': '2130 Broad...",hotel,93338,Hotel Beacon,NY,2130 Broadway at 75th Street,10023,New York City
4,“Great hotel in nice area”,"Great room, very big with huge bed! Great loca...",December 2012,93338,0,"December 17, 2012",147623184,False,MiloandMaya,2.0,...,,None,"{'region': 'NY', 'street-address': '2130 Broad...",hotel,93338,Hotel Beacon,NY,2130 Broadway at 75th Street,10023,New York City

# read in csv file after fill in NA value

## Note: code for fill in NA value is in: ISE540_projectcode_PART3

In [171]:
df1 = pd.read_csv('review_offer_combined.csv')

/Users/siyuan/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (30) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [172]:
df1 = df1.drop('address',axis=1)

In [173]:
df1.isna().sum()

Unnamed: 0                  0
title                       0
text                        0
offering_id                 0
num_helpful_votes           0
date                        0
id_x                        0
via_mobile                  0
username                    0
num_cities                  0
num_reviews                 0
num_type_reviews            0
author_num_helpful_votes    0
author_id                   0
service                     0
cleanliness                 0
overall                     0
value                       0
location                    0
sleep_quality               0
rooms                       0
hotel_class                 0
region_id                   0
url                         0
type                        0
id_y                        0
name                        0
region                      0
street-address              1
postal-code                 0
locality                    0
dtype: int64

# Text Preprocessing & Cleaning Part 1

In [174]:
def check_any_letter(txt):
    return any(c.isalpha() for c in txt)

In [175]:
df1[-df1['text'].apply(check_any_letter)]

,Unnamed: 0,title,text,offering_id,num_helpful_votes,date,id_x,via_mobile,username,num_cities,...,hotel_class,region_id,url,type,id_y,name,region,street-address,postal-code,locality
91932,94660,"“Ottima posizione, buono per dormirci”",.................................................,93520,0,"September 10, 2009",40598063,False,volmay,4.0,...,4.0,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,hotel,93520,Park Central,NY,870 Seventh Avenue at 56th Street,10019,New York City
341324,353321,"“hotel tres chouette, personnel serviable”",9/10,502971,0,"April 14, 2008",15570208,False,353321,0.0,...,2.0,32655,http://www.tripadvisor.com/Hotel_Review-g32655...,hotel,502971,Hollywood City Inn,CA,1615 N. Western Ave.,90027-4807,Los Angeles

In [176]:
# just replace the text with the title
df1.loc[353321,'text'] = df1.loc[353321,'title']
df1.loc[94660,'text'] = df1.loc[94660,'title']

In [177]:
# all cleaned
df1[-df1['text'].apply(check_any_letter)]

,Unnamed: 0,title,text,offering_id,num_helpful_votes,date,id_x,via_mobile,username,num_cities,...,hotel_class,region_id,url,type,id_y,name,region,street-address,postal-code,locality
91932,94660,"“Ottima posizione, buono per dormirci”",.................................................,93520,0,"September 10, 2009",40598063,False,volmay,4.0,...,4.0,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,hotel,93520,Park Central,NY,870 Seventh Avenue at 56th Street,10019,New York City
341324,353321,"“hotel tres chouette, personnel serviable”",9/10,502971,0,"April 14, 2008",15570208,False,353321,0.0,...,2.0,32655,http://www.tripadvisor.com/Hotel_Review-g32655...,hotel,502971,Hollywood City Inn,CA,1615 N. Western Ave.,90027-4807,Los Angeles

In [178]:
df1[-df1['title'].apply(check_any_letter)]

,Unnamed: 0,title,text,offering_id,num_helpful_votes,date,id_x,via_mobile,username,num_cities,...,hotel_class,region_id,url,type,id_y,name,region,street-address,postal-code,locality
3125,3125,“♥♥♥”,Loved this place. I was at the Eventi for four...,1456560,2,"July 12, 2012",134178655,False,backpacker3667,6.0,...,4.0,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,hotel,1456560,Eventi - a Kimpton Hotel,NY,851 Avenue of the Americas (Sixth Avenue),10001,New York City
7908,7916,“=)”,"Staff is very friendly , convinience of kitche...",240436,0,"November 16, 2011",120672297,False,acu644,2.0,...,2.0,56003,http://www.tripadvisor.com/Hotel_Review-g56003...,hotel,240436,Carefree Inn Medical Center,TX,10015 South Main Street,77025-5209,Houston
23333,24017,“2422”,The Sofitel in New York is everything that you...,208454,4,"August 10, 2011",116517243,False,Getting0ut0fDC,2.0,...,4.5,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,hotel,208454,Sofitel New York,NY,45 West 44th Street,10036,New York City
31333,32017,“10”,"Nice rooms, very good breakfast and the best.....",578305,0,"April 12, 2010",61107894,False,MSmith42,3.0,...,3.0,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,hotel,578305,Residence Inn by Marriott Times Square New York,NY,1033 Avenue of the Americas,10018,New York City
37264,38169,“10/10”,Well done to whoever choose the staff. You hav...,93543,1,"December 7, 2010",89288829,False,MonikaHalwaxSherry,5.0,...,4.0,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,hotel,93543,Affinia Shelburne,NY,303 Lexington Ave,10016,New York City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
815996,850892,“:)”,"Un 10! en todo :) Aparcacoches, Situado a 0 de...",120614,0,"July 21, 2010",71812394,False,CristinaA7,4.0,...,3.5,28970,http://www.tripadvisor.com/Hotel_Review-g28970...,hotel,120614,Hamilton Crowne Plaza Hotel,DC,1001 14th St. NW,20005,Washington DC
822760,857713,“10/10”,We recently visited Washington for the 1st tim...,84098,5,"August 5, 2007",8355409,False,alexstevenjenn,4.0,...,3.5,28970,http://www.tripadvisor.com/Hotel_Review-g28970...,hotel,84098,"Renaissance Washington, DC Hotel",DC,999 Ninth St NW,20001,Washington DC
825056,860009,“3 1/2*”,I have stayed at this hotel twice in the past ...,84079,0,"January 15, 2012",123117843,False,new63berry,3.0,...,4.0,28970,http://www.tripadvisor.com/Hotel_Review-g28970...,hotel,84079,JW Marriott Washington DC,DC,1331 Pennsylvania Ave NW,20004,Washington DC
840939,875892,“9-12”,"The best they do is the attention, is personal...",235513,0,"March 7, 2010",57914061,False,mcarrera7,2.0,...,4.5,28970,http://www.tripadvisor.com/Hotel_Review-g28970...,hotel,235513,Sofitel Washington DC,DC,806 15th Street NW,20005,Washington DC
841230,876183,“# 1?”,I stayed at this hotel with high expecations s...,235513,7,"September 13, 2006",5799030,False,love2trabel,3.0,...,4.5,28970,http://www.tripadvisor.com/Hotel_Review-g28970...,hotel,235513,Sofitel Washington DC,DC,806 15th Street NW,20005,Washington DC

In [179]:
non_letter_title_index = list(df1[-df1['title'].apply(check_any_letter)].index)

In [180]:
# just replace the title with the text
for i in non_letter_title_index:
    df1.loc[i,'title'] = df1.loc[i,'text']

In [181]:
# all cleaned
df1[-df1['title'].apply(check_any_letter)]

Empty DataFrame
Columns: [Unnamed: 0, title, text, offering_id, num_helpful_votes, date, id_x, via_mobile, username, num_cities, num_reviews, num_type_reviews, author_num_helpful_votes, author_id, service, cleanliness, overall, value, location, sleep_quality, rooms, hotel_class, region_id, url, type, id_y, name, region, street-address, postal-code, locality]
Index: []

[0 rows x 31 columns]

# Text Preprocessing & Cleaning Part 2

### Note: this is directly imported csv file, the code for this section is in file "ISE540_projectcode_PART1.ipynb"

In [182]:
df2 = pd.read_csv('converted_text.csv')

/Users/siyuan/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (21) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

# Merge the two read-in CSVs into One

In [188]:
df_merge = df2.merge(df1,on = 'Unnamed: 0',how = 'inner')

In [193]:
df1.columns

Index(['Unnamed: 0', 'title', 'text', 'offering_id', 'num_helpful_votes',
       'date', 'id_x', 'via_mobile', 'username', 'num_cities', 'num_reviews',
       'num_type_reviews', 'author_num_helpful_votes', 'author_id', 'service',
       'cleanliness', 'overall', 'value', 'location', 'sleep_quality', 'rooms',
       'hotel_class', 'region_id', 'url', 'type', 'id_y', 'name', 'region',
       'street-address', 'postal-code', 'locality'],
      dtype='object')

In [195]:
selected_columns = ['title_x', 'text_x','type_x', 'offering_id_y', 'num_helpful_votes_y',
'date_y', 'id_x_y', 'username_y', 'num_cities_y', 'num_reviews_y',
       'num_type_reviews_y', 'author_num_helpful_votes_y', 'author_id_y', 'service_y',
       'cleanliness_y', 'overall_y', 'value_y', 'location_y', 'sleep_quality_y', 'rooms_y',
       'hotel_class_y', 'region_id_y', 'type_y', 'name_y', 'region_y',
       'street-address_y', 'postal-code_y', 'locality_y']

In [199]:
rename_col = ['title', 'text','type', 'offering_id', 'num_helpful_votes',
              'date', 'id', 'username', 'num_cities', 'num_reviews','num_type_reviews', 
              'author_num_helpful_votes', 'author_id', 'service',
              'cleanliness', 'overall', 'value', 'location', 'sleep_quality', 'rooms',
              'hotel_class', 'region_id', 'type', 'name', 'region',
              'street-address', 'postal-code', 'locality']
df_merge = df_merge[selected_columns]
df_merge.columns = rename_col

## Stopwords, punctuation

In [203]:
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize
import string
# nltk.download('stopwords')
# nltk.download('punkt')

In [205]:
stop_words = set(stopwords.words('english')) 
word_tokens_list = []
for s in list(df_merge.text):
    s= s.replace('.',"")
    s = s.replace(',', '')
    s = s.replace('\n', ' ')
    s = s.replace('-', '')
    s = s.replace('(', '')
    s = s.replace(')', '')
    s = s.replace('!', ' exclamation')
    s = s.replace('?', ' questionmark')
    s = s.replace('/', ' or ')
    s = s.replace('&', ' and ')
    s = s.replace('\\', " ")
    word_tokens_list.append(word_tokenize(s))

In [211]:
filtered_sentence_list = [] 

for word_tokens in word_tokens_list:
    filtered_sentence = []
    for w in word_tokens:
        if w not in stop_words: 
            filtered_sentence.append(w)
    filtered_sentence_list.append(filtered_sentence)

In [222]:
text_list_new = []
for i in filtered_sentence_list:
    text_list_new.append(' '.join(i))

In [230]:
stop_words = set(stopwords.words('english')) 
word_tokens_list1 = []
for s in list(df_merge.title):
    s= s.replace('.',"")
    s = s.replace(',', '')
    s = s.replace('\n', ' ')
    s = s.replace('-', '')
    s = s.replace('(', '')
    s = s.replace(')', '')
    s = s.replace('!', ' exclamation')
    s = s.replace('?', ' questionmark')
    s = s.replace('/', ' or ')
    s = s.replace('&', ' and ')
    s = s.replace('\\', " ")
    s = s.replace("'", " ")
    s = s.replace('`', " ")
    
    word_tokens_list1.append(word_tokenize(s))

In [231]:
filtered_sentence_list1 = [] 

for word_tokens in word_tokens_list1:
    filtered_sentence = []
    for w in word_tokens:
        if w not in stop_words: 
            filtered_sentence.append(w)
    filtered_sentence_list1.append(filtered_sentence)

In [232]:
title_list_new = []
for i in filtered_sentence_list1:
    
    title_list_new.append(' '.join(i))

In [235]:
import re

In [241]:
title_list_new1 = []
for i in title_list_new:
    title_list_new1.append(re.sub(r'[^\w\s]','',i))

In [243]:
text_list_new1 = []
for i in text_list_new:
    text_list_new1.append(re.sub(r'[^\w\s]','',i))

In [249]:
# change the title & review with cleaned strings 
df_merge['text'] = text_list_new1
df_merge['title'] = title_list_new1

<ipython-input-249-dfb95f163886>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merge['text'] = text_list_new1
<ipython-input-249-dfb95f163886>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merge['title'] = title_list_new1

# Variable Creation

## Quantify the reviewers stats

In [254]:
df_merge.columns

Index(['title', 'text', 'type', 'offering_id', 'num_helpful_votes', 'date',
       'id', 'username', 'num_cities', 'num_reviews', 'num_type_reviews',
       'author_num_helpful_votes', 'author_id', 'service', 'cleanliness',
       'overall', 'value', 'location', 'sleep_quality', 'rooms', 'hotel_class',
       'region_id', 'type', 'name', 'region', 'street-address', 'postal-code',
       'locality'],
      dtype='object')

In [407]:
df_merge1= df_merge.copy()

In [408]:
# total number of reviews posted by a user
user_count = pd.DataFrame(df_merge.author_id.value_counts().reset_index())
user_count.columns=['author_id','total_number_reviews_posted']

In [409]:
df_merge1 = df_merge1.merge(user_count,on='author_id',how ='left')

In [410]:
# total number of helpful reviews posted by a user
user_count1 = df_merge1.groupby('author_id').author_num_helpful_votes.sum().reset_index()
user_count1.columns=['author_id','total_number_helpful_reviews_posted']

In [411]:
df_merge1 = df_merge1.merge(user_count1,on='author_id',how ='left')

In [412]:
# total number of hotel visited by a user
user_count2 = df_merge1.groupby(['author_id','street-address']).author_num_helpful_votes.count().reset_index()
user_count2.columns=['author_id','street-address','number_of_visited_hotel']

In [413]:
df_merge1 = df_merge1.merge(user_count2,on=['author_id','street-address'],how ='left')

In [414]:
# total number of city visited by a user
user_count3 = df_merge1.groupby(['author_id','locality']).author_num_helpful_votes.count().reset_index()
user_count3.columns=['author_id','locality','number_of_visited_city']

In [415]:
df_merge1 = df_merge1.merge(user_count3,on=['author_id','locality'],how ='left')

In [416]:
# average_rating by a user 
for i in ['service', 'cleanliness','overall', 'value', 'location', 'sleep_quality', 'rooms']:
    rating = df_merge1.groupby('author_id')[i].mean().reset_index()
    rating.columns=['author_id','average_'+i+'_rating']
    df_merge1 = df_merge1.merge(rating,on=['author_id'],how ='left')

In [417]:
# minimum_rating by a user 
for i in ['service', 'cleanliness','overall', 'value', 'location', 'sleep_quality', 'rooms']:
    rating = df_merge1.groupby('author_id')[i].min().reset_index()
    rating.columns=['author_id','min_'+i+'_rating']
    df_merge1 = df_merge1.merge(rating,on=['author_id'],how ='left')

In [418]:
# max_rating by a user 
for i in ['service', 'cleanliness','overall', 'value', 'location', 'sleep_quality', 'rooms']:
    rating = df_merge1.groupby('author_id')[i].max().reset_index()
    rating.columns=['author_id','max_'+i+'_rating']
    df_merge1 = df_merge1.merge(rating,on=['author_id'],how ='left')

In [419]:
# average hotel class
hotel_class = df_merge1.groupby('author_id')['hotel_class'].mean().reset_index()
hotel_class.columns=['author_id','avergae_hotel_class']
df_merge1 = df_merge1.merge(hotel_class,on=['author_id'],how ='left')

# Quantify the reviews&title

## Count the number of exclaimations & questionmark

In [358]:
title_exclamation_count = []
title_questionmark_count = []
review_exclamation_count = []
review_questionmark_count = []


for j in list(df_merge1.title):
    title_exclamation_count.append(j.split().count('exclamation'))
    title_questionmark_count.append(j.split().count('questionmark'))
    
for j in list(df_merge1.text):
    review_exclamation_count.append(j.split().count('exclamation'))
    review_questionmark_count.append(j.split().count('questionmark'))

In [420]:
df_merge1['title_exclamation_count'] = title_exclamation_count
df_merge1['title_questionmark_count'] = title_questionmark_count
df_merge1['review_exclamation_count'] = review_exclamation_count
df_merge1['review_questionmark_count'] = review_questionmark_count

## identify adv

In [347]:
# pip install spacy
import spacy

In [387]:
import spacy
nlp = spacy.load('en')

title_adv_count = []

for title_i in list(df_merge1.title):
    doc = nlp(title_i)
    count = 0
    for i in range(len(doc)):
        if doc[i].pos_ == 'ADV':
            count += 1
    title_adv_count.append(count)

In [421]:
df_merge1['title_adv_count'] = title_adv_count

## identify the adj

In [445]:
import spacy
nlp = spacy.load('en')

title_adj_word = []
title_adj_count = []

for title_i in list(df_merge1.title):
    doc = nlp(title_i)
    count = 0
    title_adj_word_i = []
    for i in range(len(doc)):
        if doc[i].pos_ == 'ADJ':
            title_adj_word_i.append(doc[i])
            count += 1
    title_adj_word.append(title_adj_word_i)
    title_adj_count.append(count)

In [473]:
title_adj_word_new = []
for i in title_adj_word:
    if len(i) == 0:
        title_adj_word_new.append('')
    else:
        title_adj_word_new.append(' '.join(str(v) for v in i))

In [474]:
df_merge1['title_adj_word'] = title_adj_word_new
df_merge1['title_adj_count'] = title_adj_count

In [508]:
import nltk
from textblob import TextBlob

In [509]:
def get_adjectives(text):
    blob = TextBlob(text)
    return [ word for (word,tag) in blob.tags if tag == "JJ"]

In [510]:
df_merge1['adjectives_text'] = df_merge1['text'].apply(get_adjectives)
df_merge1['adjectives_text'] = [','.join(map(str, l)) for l in df_merge1['adjectives_text']]

## Quantify the hotel stats

In [422]:
# total number of reviews a hotel has
hotel_count = pd.DataFrame(df_merge1.name.value_counts().reset_index())
hotel_count.columns=['name','total_number_hotel_reviews']

In [423]:
df_merge1 = df_merge1.merge(hotel_count,on='name',how ='left')

In [424]:
# total number of helpful reviews received by a hotel
hotel_count1 = df_merge1.groupby('name').num_helpful_votes.sum().reset_index()
hotel_count1.columns=['name','total_number_helpful_reviews_hotel_got']

In [425]:
df_merge1 = df_merge1.merge(hotel_count1,on='name',how ='left')

In [426]:
# average_rating of a hotel
for i in ['service', 'cleanliness','overall', 'value', 'location', 'sleep_quality', 'rooms']:
    rating = df_merge1.groupby('name')[i].mean().reset_index()
    rating.columns=['name','average_'+i+'_rating_for_hotel']
    df_merge1 = df_merge1.merge(rating,on=['name'],how ='left')

In [427]:
# min_rating of a hotel
for i in ['service', 'cleanliness','overall', 'value', 'location', 'sleep_quality', 'rooms']:
    rating = df_merge1.groupby('name')[i].min().reset_index()
    rating.columns=['name','min_'+i+'_rating_for_hotel']
    df_merge1 = df_merge1.merge(rating,on=['name'],how ='left')

In [428]:
# max_rating of a hotel
for i in ['service', 'cleanliness','overall', 'value', 'location', 'sleep_quality', 'rooms']:
    rating = df_merge1.groupby('name')[i].max().reset_index()
    rating.columns=['name','max_'+i+'_rating_for_hotel']
    df_merge1 = df_merge1.merge(rating,on=['name'],how ='left')

In [435]:
# number of different hotel class distribution around region
hotel_regions = df_merge1.groupby('region').offering_id.count().reset_index()
hotel_regions.columns=['region','number_of_hotels_in_region']

In [436]:
df2_temp = pd.DataFrame()
hotel_class_region_count = df_merge1.groupby(['region', 'hotel_class']).offering_id.count().reset_index()

for i in hotel_class_region_count['region'].unique():
    temp_df = hotel_class_region_count[hotel_class_region_count['region'] == i].drop('region', axis=1).T
    # temp_df = hotel_class_region_count[hotel_class_region_count['region'] == 'AZ'].drop('region', axis=1).T
    temp_df.index = ['hotel_class', i]
    temp_df.columns = list(temp_df.loc['hotel_class'])
    temp_df = temp_df.drop('hotel_class')
    df2_temp = pd.concat([df2_temp, temp_df])

df2_temp = df2_temp.fillna(0)
df2_temp = df2_temp.reset_index(drop=True)

In [437]:
hotel_regions = pd.concat([hotel_regions, df2_temp], axis=1, ignore_index=True)
hotel_regions.columns = ['region', 'number_of_hotels_in_region',
                         'number_of_hotels_in_class_1', 'number_of_hotels_in_class_1.5',
                         'number_of_hotels_in_class_2', 'number_of_hotels_in_class_2.5',
                         'number_of_hotels_in_class_3', 'number_of_hotels_in_class_3.5',
                         'number_of_hotels_in_class_4', 'number_of_hotels_in_class_4.5', 
                         'number_of_hotels_in_class_5']

In [439]:
df_merge1 = df_merge1.merge(hotel_regions,on=['region'],how ='left')

In [536]:
# df_merge1.to_csv('final_df.csv')